<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easybbs.mapper.LikeRecordMapper">

    <resultMap id="BaseResultMap" type="com.easybbs.entity.LikeRecord">
            <id property="opId" column="op_id" jdbcType="INTEGER"/>
            <result property="opType" column="op_type" jdbcType="TINYINT"/>
            <result property="objectId" column="object_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="authorUserId" column="author_user_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        op_id,op_type,object_id,
        user_id,create_time,author_user_id
    </sql>
</mapper>
